ddt>=0.7.0
nose>=1.3.7
mock>=1.3.0
flake8>=2.5.0
coverage>=4.1
mock-services>=0.3
# mock-services is old and unmaintained. Doesn't work with newer versions of
# requests-mock. Thus, we have to pin it down.
requests-mock<1.2
