name: CI tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint-python:
    runs-on: ubuntu-latest
    steps:
    - name: Repository checkout
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.6"

    - name: Install dependencies
      run: |
        pip install --upgrade pip tox

    - name: Lint Python files
      run: |
        tox -e lint

  lint-shell:
    runs-on: ubuntu-latest
    steps:
    - name: Repository checkout
      uses: actions/checkout@v2

    - name: Lint shell files
      uses: ludeeus/action-shellcheck@master

  check:
    runs-on: ubuntu-latest
    steps:
    - name: Repository checkout
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.6"

    - name: Install dependencies
      run: |
        pip install --upgrade pip tox

    - name: Typecheck Python files
      run: |
        tox -e check

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
    steps:
    - name: Repository checkout
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip install --upgrade pip tox codecov

    - name: Test
      run: |
        tox -e coverage
        codecov


  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v2
    - name: Create Release
      uses: ncipollo/release-action@v1
      if: startsWith(github.event.ref, 'refs/tags')
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        name: Release ${{ github.ref }}
        generateReleaseNotes: true
