name: Tests
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
    - name: Repository checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        # A non-shallow clone is needed for the Differential ShellCheck
        fetch-depth: 0

    - name: Require GHA pinning
      uses: canonical/lxd/.github/actions/require-gha-pinning@main

    - id: ShellCheck
      name: Differential ShellCheck
      uses: redhat-plumbers-in-action/differential-shellcheck@0d9e5b29625f871e6a4215380486d6f1a7cb6cdd # v5.5.5
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        strict-check-on-push: true
      if: github.event_name == 'pull_request'

    - name: Install dependencies
      run: |
        python3 -m venv venv
        . ./venv/bin/activate
        ./venv/bin/pip install --require-virtualenv --upgrade pip tox

    - name: Lint Python files
      run: |
        . ./venv/bin/activate
        tox -e lint

    - name: Typecheck Python files
      run: |
        . ./venv/bin/activate
        tox -e check

  unit-tests:
    name: Unit tests
    runs-on: ubuntu-24.04
    steps:
    - name: Repository checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Install dependencies
      run: |
        python3 -m venv venv
        . ./venv/bin/activate
        ./venv/bin/pip install --require-virtualenv --upgrade pip tox

    - name: Run unit tests
      run: |
        . ./venv/bin/activate
        tox -e unit

  tests:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.12"]
        track: ["latest/edge", "5.21/edge", "5.0/edge"]
        os: ["24.04"]
        include:
          # 4.0/* isn't supported on 24.04
          - python-version: "3.10"
            track: "4.0/edge"
            os: "22.04"

    runs-on: ubuntu-${{ matrix.os }}
    steps:
    - name: Repository checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup LXD
      uses: canonical/setup-lxd@main
      with:
        channel: ${{ matrix.track }}

    - name: Install dependencies
      run: |
        set -x
        python3 -m venv venv
        . ./venv/bin/activate
        ./venv/bin/pip install --require-virtualenv --upgrade pip tox codecov

    - name: Coverage
      run: |
        . ./venv/bin/activate
        tox -e coverage
        codecov

    - name: Integration
      run: |
        . ./venv/bin/activate
        integration/run-integration-tests
