name: Tests
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-slim
    steps:
    - name: Repository checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        # A non-shallow clone is needed for the Differential ShellCheck
        fetch-depth: 0

    - name: Require GHA pinning
      uses: canonical/lxd/.github/actions/require-gha-pinning@main

    - id: ShellCheck
      name: Differential ShellCheck
      uses: redhat-plumbers-in-action/differential-shellcheck@d965e66ec0b3b2f821f75c8eff9b12442d9a7d1e # v5.5.6
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        strict-check-on-push: true
      if: github.event_name == 'pull_request'

    - name: Install dependencies
      run: |
        python3 -m venv venv
        . ./venv/bin/activate
        ./venv/bin/pip install --require-virtualenv --upgrade pip tox

    - name: Lint Python files
      run: |
        . ./venv/bin/activate
        tox -e lint

    - name: Typecheck Python files
      run: |
        . ./venv/bin/activate
        tox -e check

  unit-tests:
    name: Unit tests
    runs-on: ubuntu-slim
    steps:
    - name: Repository checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Install dependencies
      run: |
        python3 -m venv venv
        . ./venv/bin/activate
        ./venv/bin/pip install --require-virtualenv --upgrade pip tox

    - name: Run unit tests
      run: |
        . ./venv/bin/activate
        tox -e unit

  tests:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.12"]
        track: ["latest/edge", "5.21/edge", "5.0/edge"]
        os: ["24.04"]
        include:
          # 4.0/* isn't supported on 24.04
          - python-version: "3.10"
            track: "4.0/edge"
            os: "22.04"

    runs-on: ubuntu-${{ matrix.os }}
    steps:
    - name: Repository checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup LXD
      uses: canonical/setup-lxd@main
      with:
        channel: ${{ matrix.track }}

    - name: Install dependencies
      run: |
        set -x
        python3 -m venv venv
        . ./venv/bin/activate
        ./venv/bin/pip install --require-virtualenv --upgrade pip tox codecov

    - name: Coverage
      run: |
        . ./venv/bin/activate
        tox -e coverage
        codecov

    - name: Integration
      run: |
        . ./venv/bin/activate
        integration/run-integration-tests
